{% extends 'layout.njk' %}

{% block more_heads  %}
    <style>
        body {
            background-image: url("/img/back.jpg");
            background-size: cov er;
        }
        .font {
            font-size: medium;
        }
    </style>
{% endblock %}

{% block content %}
    <script>
        function showRatingModal(tid) {
            $("#rating_tid").val(tid)
            $("#rating_modal").modal('show')
        }

        function showAddtrackModal(tid) {
            $("#addtrack_tid").val(tid)
            $("#addtrack_modal").modal('show')
        }
    </script>

    <div class="page-header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>{{ basic_info.aname }}</h1>
                <p>{{ basic_info.adesc }}</p>
                <hr>
                <!-- Rating Modal -->
                <div class="modal fade" id="rating_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title font" id="myModalLabel">Rating</h4>
                            </div>
                            <div class="modal-body">
                                <p class="font">Rate this track from 1 to 5 stars.</p>
                                <form action="/rating" method="post">
                                    <select class="form-control" name="score">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <input id = "rating_tid" class="hidden" name="tid" value="">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary pull-right" name="submit" value="submit">Submit</button>
                                </form>
                            </div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>

                <!-- Add Track Modal -->
                <div class="modal fade" id="addtrack_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title font" id="myModalLabel">Add</h4>
                            </div>
                            <div class="modal-body">
                                <p class="font">Add this track to a playlist.</p>
                                <form action="/playlists/addtracks" method="post">
                                    <select class="form-control" name="pid">
                                        {% for playlist in user.playlists %}
                                            <option value = "{{ playlist.pid }}">{{ playlist.ptitle }}</option>
                                        {% endfor %}
                                    </select>
                                    <input id = "addtrack_tid" class="hidden" name="tid" value="">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary pull-right" name="submit" value="submit">Submit</button>
                                </form>
                            </div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr style="color: black">
                        <th>Name</th>
                        <th>Play</th>
                        <th>Add</th>
                        <th>Rate</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in tracks %}
                        <tr>
                            <td class="content">{{ item.ttitle }}</td>
                            <td class="content"><button class="btn btn-default" onclick="playtrack('{{ item.tid }}')">
                                    <span class="glyphicon glyphicon-play"></span></button></td>
                            <td class="content"><button class="btn btn-default" onclick="showAddtrackModal('{{ item.tid }}')">
                                    <span class="glyphicon glyphicon-plus"></span></button></td>
                            <td class="content">

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-default" onclick="showRatingModal('{{ item.tid }}')">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}
