{% extends 'layout.njk' %}

{% block more_heads  %}
    <style>
        .font {
            font-size: medium;
        }
        body {
            background-image: url("/img/back.jpg");
            background-size: cover;
        }
        .size {
            font-size: x-large;
        }
    </style>
{% endblock %}

{% block content %}
    <<div class="page-header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading size">{{ user.username }}</div>
                    <div class="panel-body">
                        <ul class="list-group nav nav-pills nav-stacked">
                            <li class="list-group-item font"><a href="/playlists/{{ user.username }}">My Playlists</a> </li>
                            <li class="list-group-item font"><a href="/favorites/{{ user.username }}">My Favorite Artists</a> </li>
                            <li class="list-group-item font"><a href="/follower/{{ user.username }}">My Fans</a> </li>
                            <li class="list-group-item font"><a href="/followee/{{ user.username }}">My Follows</a> </li>
                            <li class="list-group-item font"><a href="/rating/{{ user.username }}">My Ratings</a> </li>
                        </ul>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ user.url }}">Modify Profile</a> </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li class="active" style="font-size: large"><a data-toggle="tab" href="#myMoment">My Moment</a></li>
                    <li style="font-size: large"><a data-toggle="tab" href="#friendCircle">Friend Circle</a></li>
                </ul>
                <div class="tab-content">
                    <div id="myMoment" class="tab-pane fade in active">
                        <h3>My Moment</h3>
                        <br>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Following
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            {% for item in following %}
                                                <li class="list-group-item">
                                                    <span class="badge">{{ item.fldate }}</span>
                                                    {{ item.followee_usrname }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Followed
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            {% for item in followed %}
                                                <li class="list-group-item">
                                                    <span class="badge">{{ item.fldate }}</span>
                                                    {{ item.follower_usrname }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Rating
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Track</th>
                                                <th>Score</th>
                                                <th>Time</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in rating %}
                                                <tr>
                                                    <td>{{ item.ttitle }}</td>
                                                    <td>{{ item.score }}</td>
                                                    <td>{{ item.rtime }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            Favorite
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            {% for item in favorite %}
                                                <li class="list-group-item">
                                                    <span class="badge">{{ item.frdate }}</span>
                                                    {{ item.aname }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            Played Tracks
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            {% for item in tracksplayed %}
                                                <li class="list-group-item">
                                                    <span class="badge">{{ item.tptime }}</span>
                                                    {{ item.ttitle }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading6">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseT6" aria-expanded="false" aria-controls="collapse6">
                                        Played Playlists
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                <div class="panel-body">
                                    <ul class="list-group">
                                        {% for item in playlistsplayed %}
                                            <li class="list-group-item">
                                                <span class="badge">{{ item.pptime }}</span>
                                                {{ item.ptitle }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>

                    </div>
                    <div id="friendCircle" class="tab-pane fade">
                        <h3>Friend Circle</h3>
                        <p>List most recent playlsit, artist, follow, rating</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading size">Recommend</div>
                    <div class="panel-body">
                            <div class="panel-body">
                                {% for item in recommend_users %}
                                    <button class="btn btn-default"
                                            style="font-size: medium; border: none"><a href="/profile/{{ item.username }}" >
                                            {{ item.username }}</a></button><br>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
