{% extends 'layout.njk' %}

{% block more_heads  %}
    <style>

    </style>
{% endblock %}

{% block content %}
    <<div class="page-header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ user.username }}</div>
                    <div class="panel-body">
                        <ul class="list-group nav nav-pills nav-stacked">
                            <li class="list-group-item tall"><a href="/myplaylists">My Playlists</a> </li>
                            <li class="list-group-item tall"><a href="/favorites/{{ user.username }}">My Favorite Artists</a> </li>
                            <li class="list-group-item tall"><a href="/followee/{{ user.username }}">My Follows</a> </li>
                            <li class="list-group-item tall"><a href="/follower/{{ user.username }}">Followers</a> </li>
                            <li class="list-group-item tall"><a href="#">My Ratings</a> </li>
                        </ul>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ user.url }}">Modify Profile</a> </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#myMoment">My Moment</a></li>
                    <li><a data-toggle="tab" href="#friendCircle">Friend Circle</a></li>
                </ul>
                <div class="tab-content">
                    <div id="myMoment" class="tab-pane fade in active">
                        <h3>My Moment</h3>
                        <p>List most recent playlsit, artist, follow, rating</p>
                    </div>
                    <div id="friendCircle" class="tab-pane fade">
                        <h3>Friend Circle</h3>
                        <p>List most recent playlsit, artist, follow, rating</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Recommend</div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                            </tr>
                            </thead>
                            <tbody>
                            {#{% for item in albums %}#}
                                {#<tr>#}
                                    {#<td class="content"><a href="/album/{{ item.alid }}">{{ item.altitle }}</a></td>#}
                                    {#<td class="content">{{ item.alid }}</td>#}
                                {#</tr>#}
                            {#{% endfor %}#}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
