{% extends 'layout.njk' %}

{% block more_heads  %}
    <style>
        .jumbotron {
            opacity:0.7;
            height: 200px;
        }
        .panel-heading {
            font-size: xx-large;
            border: 0px solid transparent;
        }
        .panel {
            border: 1px solid transparent;
            color: #ffffff;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            opacity:0.7;
        }
         body {
             background-image: url("/img/bg.jpg");
             background-size: cover;
         }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Music Streaming</h1>
            <p>Get everything you want. 1-click, enjoy the list.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">Hit List</div>
                    <div class="panel-body">
                        {% for item in top100_tracks %}

                        {% endfor %}
                    </div>
                    <div class="panel-heading">Popular Playlist</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                    <div class="panel-heading">Celebrity rods</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                    <div class="panel-heading">Album</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Daily</div>
                    <div class="panel-body">
                        {% for item in daily_tracks %}
                            <button class="btn btn-default" onclick="playtrack('{{ item.tid }}')"
                                    style="font-size: medium; border: none">{{ item.ttitle }}</button><br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
