{% extends 'layout.njk' %}

{% block more_heads  %}
    <style>
        .jumbotron {
            opacity:0.7;
            height: 200px;
        }
        .panel-heading {
            font-size: xx-large;
            border: 0px solid transparent;
        }
        .panel {
            border: 1px solid transparent;
            color: #ffffff;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }
        body {
            background-image: url("/img/bg.jpg");
            background-size: cover;
        }
        .content {
            color: black;
        }

    </style>
{% endblock %}

{% block content %}
    <script>
        function showRatingModal(tid) {
            $("#rating_tid").val(tid)
            $("#rating_modal").modal('show')
        }

        function showAddtrackModal(tid) {
            $("#addtrack_tid").val(tid)
            $("#addtrack_modal").modal('show')
        }
    </script>
    <div class="jumbotron">
        <div class="container">
            <h1>Music Streaming</h1>
            <p>Get everything you want. 1-click, enjoy the list.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">Hit List</div>
                    <div class="panel-body">

                        <!-- Rating Modal -->
                        <div class="modal fade" id="rating_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title content" id="myModalLabel">Rating</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p class="content">Rate this track from 1 to 5 stars.</p>
                                        <form action="/rating" method="post">
                                            <select class="form-control" name="score">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            <input id = "rating_tid" class="hidden" name="tid" value="">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary pull-right" name="submit" value="submit">Submit</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Add Track Modal -->
                        <div class="modal fade" id="addtrack_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title content" id="myModalLabel">Add</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p class="content">Add this track to a playlist.</p>
                                        <form action="/playlists/addtracks" method="post">
                                            <select class="form-control" name="pid">
                                                {% for playlist in user.playlists %}
                                                    <option value = "{{ playlist.pid }}">{{ playlist.ptitle }}</option>
                                                {% endfor %}
                                            </select>
                                            <input id = "addtrack_tid" class="hidden" name="tid" value="">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary pull-right" name="submit" value="submit">Submit</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer"></div>
                                </div>
                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead>
                            <tr style="color: black">
                                <th>Name</th>
                                <th>Artist</th>
                                <th>Play</th>
                                <th>Add</th>
                                <th>Rate</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in top100_tracks %}
                                <tr>
                                    <td class="content">{{ item.ttitle }}</td>
                                    <td class="content">{{ item.aname }}</td>
                                    <td class="content"><button class="btn btn-default" onclick="playtrack('{{ item.tid }}')">
                                            <span class="glyphicon glyphicon-play"></span></button></td>
                                    <td class="content"><button class="btn btn-default" onclick="showAddtrackModal('{{ item.tid }}')">
                                            <span class="glyphicon glyphicon-plus"></span></button></td>
                                    <td class="content">

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-default" onclick="showRatingModal('{{ item.tid }}')">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-heading">Popular Playlist</div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr style="color: black">
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in top100_playlists %}
                                <tr>
                                    <td class="content"><a href="/playlist/{{ item.pid }}">{{ item.ptitle }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-heading">Celebrity rods</div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr style="color: black">
                                <th>Name</th>
                                <th>Favorite</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in popular_artists %}
                                <tr>
                                    <td class="content">{{ item.aname }}</td>
                                    <td class="content"><button class="btn btn-default" onclick="favorite('{{ item.aid }}')">
                                            <span class="glyphicon glyphicon-heart-empty"></span></button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-heading">Popular User</div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr style="color: black">
                                <th>Name</th>
                                <th>Follow</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in popular_users %}
                                <tr>
                                    <td class="content"><a href="/profile/{{ item.username }}">{{ item.username }}</a></td>
                                    <td class="content"><button class="btn btn-default" onclick="follow('{{ item.username }}')">
                                            <span class="glyphicon glyphicon-tag"></span></button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Daily</div>
                    <div class="panel-body">
                        {% for item in daily_tracks %}
                            <button class="btn btn-default" onclick="playtrack('{{ item.tid }}')"
                                    style="font-size: medium; border: none">{{ item.ttitle }}</button><br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
