<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>

        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/css/style.css">
        <script src="/lib/jquery/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>

        {% block more_heads  %}
        {% endblock %}
    </head>
    <body data-spy="scroll" data-target="#myScrollspy" data-offset="10">
    {% if flash and flash.message %}
        <div class = "alert alert-{{ flash.message[0] }}">
            <button type="button" class="close alert-top" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            {{ flash.message[1] }}
        </div>
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-mid-12">
                    <!-- Navigation -->
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">Music Streaming</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    {% if user %}
                                        <li><a href="/homepage">Moment <span class="sr-only">(current)</span></a></li>
                                    {% else %}
                                        <li><a href="/login">Moment</a></li>
                                    {% endif %}
                                        <li><a href="/">Discover <span class="sr-only">(current)</span></a></li>
                                </ul>
                                {% if user %}
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                               aria-expanded="false"> {{ user.username }} <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/profile/{{ user.username }}">Profile</a></li>
                                                <li><a href="/follower/{{ user.username }}">Follow</a></li>
                                                <li><a href="/myplaylists">Playlist</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="/logout">Logout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                {% else %}
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="/login"><span class="glyphicon glyphicon-user"></span></a></li>
                                        <li><a href="/register">Register</a></li>
                                    </ul>
                                {% endif %}

                                <form method = 'GET' action= '/search' class="navbar-form navbar-right">
                                    <div class="form-group">
                                        <input type="text" name='keyword' class="form-control" placeholder="Search music, playlist">
                                    </div>
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </form>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>

        {% block content %}

        {% endblock %}

    <div class="navbar-fixed-bottom" id = "playdiv">
        <button type="button" id = "close_btn" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <div id = "playwindow"></div>
    </div>

    <script>
        function playtrack(track_id, playlist_id) {
            $.ajax({
                url: "/playtrack",
                async: true,
                data: {
                    tid: track_id,
                    pid: playlist_id
                },
                type: "GET",
                success: function (res) {
                    $("#playwindow").html(res)
                    $("#playdiv").show()
                },
                error: function (xmlhttp) {
                    alert(xmlhttp.responseText)
                }
            })
        }

        function favorite(aid) {
            $.ajax({
                url: "/favorites",
                async: true,
                data: {
                    aid: aid
                },
                type: "POST",
                success: function () {
                    alert("Successfully favorite.")
                },
                error: function (xmlhttp) {
                    alert(xmlhttp.responseText)
                }
            })
        }

        function follow(usrname) {
            $.ajax({
                url: "/follow",
                async: true,
                data: {
                    followee: usrname
                },
                type: "POST",
                success: function () {
                    alert("Successfully follow.")
                },
                error: function (xmlhttp) {
                    alert(xmlhttp.responseText)
                }
            })
        }

        $("#close_btn").click( function () {
            $("#playdiv").hide()
        })
    </script>

    </body>
</html>
