{% extends 'layout.njk' %}

{% block more_heads  %}
    <style>
        body {
            background-image: url("/img/back.jpg");
            background-size: cover;
        }
        .font {
            font-size: medium;
        }
    </style>
{% endblock %}

{% block content %}
    <<div class="page-header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">{{ tracks.ttitle }}</div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr style="color: black">
                                    <th class="font">Name</th>
                                    <th class="font">Artist</th>
                                    <th class="font">Play</th>
                                    <th class="font">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for item in tracks %}
                                        <tr>
                                            <td class="font">{{ item.ttitle }}</td>
                                            <td class="font">{{ item.tid }}</td>
                                            <td><button class="btn btn-default" onclick="playtrack('{{ item.tid }}')">
                                                    <span class="glyphicon glyphicon-play"></span></button></td>
                                            <td style="font-size: medium; text-align: center">
                                                <form action="/playlists/deletetracks" method="post">
                                                    <input class="hidden" name="tid" value="{{ item.tid }}">
                                                    <input class="hidden" name="pid" value="{{ item.pid }}">
                                                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove"></span></button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}
