{% extends 'layout.njk' %}

{% block more_heads  %}
    <style>
        body {
            background-image: url("/img/back.jpg");
            background-size: cover;
        }
        .font {
            font-size: medium;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="page-header">
            <br>
            <br>
            <h1>{{ user.username }}</h1>
        </div>
        <h2>My Playlist</h2>
        <br>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            {% for item in playlists %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="font">Name</th>
                    <th class="font" style="text-align:right">Last modified date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="font"><a href="/playlist/{{ item.pid }}">{{ item.ptitle }}</a></td>
                    <td class="font" style="text-align:right">{{ item.pmodifydate }}</td>
                </tr>
                </tbody>
            </table>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus"></span> Add a new Playlist
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/playlists/create" method="post">
                                <div class="form-group">
                                    <lable>Playlist Name</lable>
                                    <input type="text" class="form-control" placeholder="Playlist Name"  name="ptitle" aria-describedby="basic-addon1">
                                </div>
                                <p>Playlist Status</p>
                                <div class="radio">
                                    <label><input type="radio" name="pstatus" value="public" checked>Public</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="pstatus" value="private">Private</label>
                                </div>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary pull-right" name="submit" value="submit">Create</button>
                            </form>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
