{% extends 'layout.njk' %}

{% block more_heads  %}
    <style>
        .font {
            font-size: medium;
        }
        body {
            background-image: url("/img/back.jpg");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="page-header">
            <br>
            <br>
            <h1>{{ user.username }}</h1>
        </div>
        <h2>My Rating</h2>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>{{ item.ptitle }}</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="font">Track</th>
                    <th class="font">Score</th>
                </tr>
                </thead>
                <tbody>
                {% for item in ratings %}
                    <tr>
                        <td class="content">{{ item.ttitle }}</a></td>
                        <td class="content"><button class="btn btn-default">
                                {{ item.ttitle }}<span class="badge">{{ item.score }}</span></button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
